<div class="api-tester">

  <!-- <div class="header">
    <h2>API Tester</h2>
  </div> -->


  <div class="request">

   
    <div class="row">
      <select [(ngModel)]="method">
        <option value="GET">GET</option>
        <option value="POST">POST</option>
      </select>

      <input
        type="text"
        [(ngModel)]="url"
        placeholder="Enter API URL..."
      />

      <button (click)="sendRequest()">Send</button>
    </div>

  
    <div class="body" *ngIf="method === 'POST'">
      <textarea
        [(ngModel)]="body"
        placeholder="Enter JSON body..."
      ></textarea>
    </div>

  </div>


  <div class="response">

    <div class="response-header">
      <span>Response</span>
    </div>

    <pre>{{ response }}</pre>

  </div>

  
  <div class="status" *ngIf="statusMessage">
    {{ statusMessage }}
  </div>

</div>
